/* Establece el body para que ocupe toda la pantalla sin scroll */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh; /* Asegura que el body ocupe toda la altura de la pantalla */
  display: flex;
  flex-direction: column; /* Organiza el contenido en columnas */
  font-family: 'Montserrat', sans-serif;
}

html {
  height: 100%; /* Asegura que la raíz tenga la altura completa */
  width: 100%;
}

/* Aseguramos que el contenedor principal ocupe todo el espacio restante */
.container {
  flex: 1; /* Este contenedor ocupa todo el espacio disponible */
  overflow: auto; /* Permite el desplazamiento solo dentro del contenedor */
}
